@import "./sass/StyleVar.scss";
.section{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    "header header"
    "sidebar profile";
    .header{
        grid-area: header;
    }
    .sidebar{
        grid-area: sidebar;
    }
    .profile{
        grid-area: profile;
    }
}
//----- header
.header{
    background-color: $bgc;
    .logo{
        cursor: pointer;
        width: 100px;
        height: 100px;
    }
}
//----- sidebar
.sidebar {
    min-height:600px;
    background-color: $bgc;
    .nav-sidebar{
        display: flex;
        padding-left:10px;
        flex-direction: column;
        .nav-item{
            color:#fff;
            font-size: 30px;
            line-height: 1.4;
            &:nth-child(4){
                margin-bottom: 30px;
            }
        }
    }
}
//----- Profile
.profile{
    color:$textContent;
    .profile-img{
        .img{
            width: 100%;
            height: 250px;
        }
    }
    .profile-info{
        color:$textContent;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        margin-top: 15px;
        .profile-avatar{
            width: 150px;
            height: 150px;
            margin-right: 20px;
        }
        .data-item{
            line-height: 1.3;
            font-size: $fontSize;
            &:nth-child(1){
                margin-bottom:20px ;
                font-weight: bold;
            }
        }
    }
    .posts{
        color:$textContent;
        .posts-title{
            font-size: $fontSize;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .posts-textInput{
            display: block;
            border: none;
            width: 100%;
            font-size: 20px;
            resize: none;
            height: 150px;
            background-color:#ccecdc;
            &:focus{
                outline: none;
            }
        }
        .button{
            float: right;
            margin-top: 20px;
            padding:5px 50px 5px 10px;
        }
    }
}
